<!DOCTYPE html> 
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
		<style>		
					
			.border {
				border: 1px solid #AFAFAF;
				padding: 0.8rem; 
			}
			
      .body-border {
			  border: 1px solid #AFAFAF;
		  }

			.border-bottom {
				border-bottom: 1px solid #AFAFAF;
				padding: 0.8rem 0; 
			}
			
			.labelBold {
				text-align: left;
				padding: 0.3rem 0.5rem;
				font-weight: bold;
			}
			
			.page-break {
				height: 0;
				page-break-after: always;
				margin: 0;
				border-top: none;
			}
			
		</style>		 
	</head>	
	<body style="font-family: arial; font-size: large;">  
		
		<table>
      <tr>
				<td class="labelBold" width="30%">Date of Issuance:</td>
        <td width="60%" th:text="${contractDate}">Contract Date</td> 			 
      </tr>
      <tr>
        <td class="labelBold" width="30%">Reference Number:</td>
        <td width="60%" th:text="${reference}">Reference Number</td> 			 
      </tr>
    </table>
    
		<br><br>
		
		<div style="text-align: center;">
		<span style="font-size: 1.6rem; font-weight: bold; text-decoration:underline;">
			CERTIFICATE OF ORIGIN
		</span>
    </div>
    <div style="text-align: center;">
      <span style="font-size: 1.2rem; font-weight: bold; text-decoration:underline;">
        ISSUED IN MALAYSIA
      </span>
      </div>
    
      <br><br>
      <div style="text-align: center;">
				<table width="100%">
					
					<tr><td>Federation of Malaysian Manufacturers</td></tr>
					<tr><td>Wisma FMM</td></tr>
					<tr><td>No.3, Persiaran Dagang, PJU 9</td></tr>
					<tr><td>Bandar Sri Damansara</td></tr>
					<tr><td>52200 Kuala Lumpur</td></tr>
        </table>
      </div>
      <br><br><br>
    <div><span style="font-size: 1.1rem; font-weight: bold;">Declaration by the Exporter</span></div>
    <br>
		<span>The undersigned hereby declares that the below details and statements are correct,       
    </span>
		<table style="margin-top: 1rem;width: 100%; border: 1px solid #AFAFAF; border-collapse: collapse;"> 	
			<tr>
				<th class="labelBold border">Description of Goods</th> 		
				<th class="labelBold border">Quantity/Weight</th>
				<th class="labelBold border">Packaging</th> 		
				 	
			</tr>
			<tr th:each="orderItem, iter: ${orderItems}">
				<td class="border" th:text="${orderItem.product.name}">Product</td>
				<td class="border" ><span th:text="${#numbers.formatDecimal(orderItem.quantity, 0, 'COMMA', 0, 'POINT')}"></span><span style="margin-left: 0.5rem;" th:text="${orderItem.uomCode}"></span></td>
				<td class="border" th:utext="${orderItem.skuLabel}">Packaging</td>
			</tr> 
		</table> 
		<br>
		<span>is/are manufactured by us and comply with the relevant origin criterion, 
		which we have sold to our customer <span th:utext="${buyerName}">Buyer Name</span>.</span>
		<br><br>
		<span>All the goods were produced or processed in </span>
		<br><br>
		<table width="100%">
			<td class="labelBold" width="20%" style="vertical-align: top; padding: 10px 0;">Address: </td>
			<td width="80%">
				<table width="100%">
					<tr><td colspan="4" class="border-bottom"><span th:text="${sellerAddress}">Seller Address</span></td></tr>
					<tr><td colspan="4" class="border-bottom"><span th:text="${cargoOrigin}">Cargo Origin</span></td></tr>
					<tr>
						<td style="width: 20%;">
							<span class="labelBold" style="padding-left: 0;">Telephone: </span>
						</td>
						<td class="border-bottom" style="width: 30%;">
							<span th:text="${buyerTelephoneNo}">Telephone Number</span>
						</td>
						<td style="width: 20%;">
							<span class="labelBold" >Facsimile: </span>
						</td>
						<td class="border-bottom" style="width: 30%;">
							<span th:text="${sellerFacsimile}">Facsimile Number</span>
						</td>
					</tr>						
				</table>
			</td> 			 
		</table> 
		<br><br>
		<table class="border" style="margin-top: 1rem; border-collapse: collapse;"> 	
		
			<tr >
				<td class="labelBold border" width="30%">CARGO ORIGIN</td>
				<td class="border"  width="70%" th:text="${cargoOrigin}">Cargo Origin</td>
			</tr> 	
			<tr>
				<td class="labelBold border" width="30%">TERMS OF DELIVERY</td>
				<td class="border"  width="70%" th:text="${termOfDelivery}">Terms of Delivery</td> 	
			</tr> 	
			
			<tr> 		
				<td class="labelBold border" width="30%">DELIVERY DATE RANGE</td>
				<td width="70%" class="border"  th:text="${deliveryDateRange}">Delivery Date Range</td> 	
			</tr>
			<tr th:each="deliveryTerm, iter: ${deliveryTerms}">
				<td class="labelBold border" width="30%" th:text="${deliveryTerm.label}">Delivery Term</td>
				<td width="70%" class="border"  th:text="${deliveryTerm.value}">Delivery Value</td> 								
			</tr>
			
    </table> 
    <br><br><br>
    <div><span style="font-size: 1.1rem; font-weight: bold;">Certification</span></div>
    <br>
    <span>It is hereby certified, on the basis of control carried out, that the declaration by the exporter is correct.      
    </span>

    <br><br><br>

		<table width="45%" align="left" class="inlineTable" style="border-collapse: collapse;">
      <tr>
        <td class="labelBold border" width="30%">Exporter</td>
        <td width="70%" class="border" th:utext="${sellerName}">Seller Name</td>         
      </tr>
      <tr>
        <td class="labelBold border" width="30%" style="vertical-align: top;">Signature</td>
        <td width="70%" class="border" style="height: 5rem;"></td>
      </tr>         
      <tr>
        <td class="labelBold border" width="30%">Name</td>
        <td width="70%" class="border" ></td>         
      </tr>
      <tr>
        <td class="labelBold border" width="30%">Designation</td>
        <td width="70%" class="border" ></td>
      </tr>
    </table>     
    <table width="45%" align="right" class="inlineTable" style="border-collapse: collapse;">         
      <tr>
        <td class="labelBold border" width="30%">Certifcation</td>
        <td width="70%" class="border">Federation Malaysian Manufacturers</td>
      </tr>
      <tr>
        <td class="labelBold border" width="30%" style="vertical-align: top;">Signature</td>             
        <td width="70%" class="border" style="height: 5rem;"></td>
      </tr>
      <tr>
        <td class="labelBold border" width="30%">Name</td>
        <td width="70%" class="border" ></td>
      </tr>
      <tr>
        <td class="labelBold border" width="30%">Designation</td>             
        <td width="70%" class="border" ></td>
      </tr>
    </table>
	</body> 
</html>