<!DOCTYPE html> 
<html> 
	<body style="font-family: arial; max-width: 60rem;">
		<table style="width: 100%;"> 		
			<tr>
				<td style="padding-left: 1rem; border-bottom: 1px solid black;">
					<img src="https://office.smarttradzt.com:8001/buy-commons-service/file-repo/1/malaysia_govt_logo.png" border="0px" alt="Image" 
						style="max-height: 80px; padding: 0.5rem;"/>
        </td>
        <td>
          <div><span style="font-size: 0.8rem;">KASTAM DIRAJA MALAYSIA</span> </div>
          <div><span style="font-size: 0.8rem;">UNIT TAKSIRAN / LEVI</span></div>
          <div><span style="font-size: 0.8rem;">CAWANGAN EKSAIS</span></div>
          <div><span style="font-size: 0.8rem;">BAHAGIAN PERKASTAMAM</span></div>
          <div><span style="font-size: 0.8rem;">ARAS 2, BLOK A</span></div>
          <div><span style="font-size: 0.8rem;">NO.22, JALAN SS 6/3, KELANA JAYA</span></div>
          <div><span style="font-size: 0.8rem;">47301 PETALING JAYA.</span></div>
          <div><span style="font-size: 0.8rem;">TEL: 03-7884409014871</span></div>
        </td>
				<td style="text-align: right; padding-right: 1rem; border-bottom: 1px solid black;">
					<div class="row" style="margin-bottom: 0.5rem;">
						<span style="font-size: 1.4rem;" th:text="${sellerCompanyName}">Business Unit</span>						
					</div>
					<!-- <div class="row">
						<span style="font-size: 0.8rem;" th:text="'(Company Registration ' + ${sellerCompanyRegistration} + ')'">Company Registration</span>
					</div> -->
				</td>								
			</tr>
			<tr>
				<td colspan="2" style="text-align: center; padding-top: 1rem;">
					<span style="font-size: 1.6rem; font-weight: bold;">SALES ORDER</span>	
				</td>
			</tr>
		</table> 
	</body>
</html>
<br>
