<!DOCTYPE html> 
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
		<style>
		table {
			width: 100%;
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 0px;
			font-size: 11px;
			border-collapse: collapse;
			border-width: 1px;
			border-color: #888888;
		}
		
		table table.noBorder{
			width: 100%;
			margin-top: 0px;
			margin-bottom: 0px;
			padding: 0px;
			font-size: 11px;
			border-width: 0px;
			border: 0px;
		}
		
		table table.noBorder tr{
			border: 0px;
		}
		
		table table.noBorder td{
			border: 0px;
		}
		
		table, th, td {
			border: 1px solid black;
		}
		
		td {
			padding-left: 8px;
			padding-right: 8px;
			padding-top: 3px;
			padding-bottom: 3px;
		}
		
		.labelBold {
			text-align: left;
			font-weight: bold;
		}
		
		.page-break {
			height: 0;
			page-break-after: always;
			margin: 0;
			border-top: none;
		}
		
		.inlineTable {
			width: 40%;
			display: inline-block;
			bottom:0px;
		}
		
		* {
			font-size: large;
		}
		</style>		 
	</head>	
	<body>  
		<table style="margin-top: 2rem;"> 	
				<tr> 		
					<td class="labelBold" width="30%">CONTRACT NO.</td>
					<td width="70%" th:text="${contractNo}">Contract Number</td> 	
				</tr> 	
				<tr>
					<td class="labelBold" width="30%">CONTRACT DATE</td>
					<td width="70%" th:text="${contractDate}">Contract Date</td> 	
				</tr> 	
				<tr>
					<td class="labelBold" width="30%">REFERENCE</td>
					<td witdh="70%" th:text="${reference}">Reference</td> 	
				</tr> 
			</table> 
		<table style="margin: 1rem 0;"> 	
			<tr>
				<td class="labelBold" width="30%">Sales Agreement No.</td>
				<td width="70%" th:utext="${#strings.replace(#strings.escapeXml(salesAgreementNo),'&#10;','&lt;br /&gt;')}">Seller Details</td>
			</tr> 	
			<tr> 		
				<td class="labelBold" width="30%">SELLER</td>
				<td width="70%"> 			
					<table class="noBorder"> 				
						<tr>
							<td colspan="2" th:utext="${sellerName}">Seller Name</td> 				
						</tr>
						<tr> 					
							<td colspan="2" th:utext="${sellerAddress}">Seller Address</td>
						</tr> 				
						<tr> 					
							<td width="30%">Attention :</td>
							<td width="70%" th:text="${sellerAttention}">Seller Attention</td>
						</tr>
					</table> 		
				</td> 	
			</tr> 	
			<tr>
				<td class="labelBold" width="30%">BUYER</td> 		
				<td width="70%">
					<table class="noBorder"> 				
						<tr>
							<td colspan="4" th:utext="${buyerName}">Buyer Name</td> 				
						</tr>
						<tr> 					
							<td colspan="4" th:utext="${buyerAddress}">Buyer Address</td>
						</tr> 				
						<tr> 					
							<td width="20%">Telephone :</td>
							<td width="30%" th:text="${buyerTelephoneNo}">Buyer Telephone Number</td>
							<td width="20%">Facsimile :</td>
							<td width="30%" th:text="${buyerFacsimile}">Buyer Facsimile Number</td>
						</tr> 				
						<tr> 					
							<td width="20%">Attention :</td>
							<td width="30%" th:text="${buyerAttention}">Buyer Attention</td>
							<td></td> 					
							<td></td> 				
						</tr>
					</table> 		
				</td> 	
			</tr> 
		</table>	  
		NOW THEREFORE, it is hereby agreed as follows: 
		<table style="margin-top: 1rem;"> 	
			<tr>
				<th class="labelBold">PRODUCT</th> 		
				<th class="labelBold">VOLUME (MT)</th>
				<th class="labelBold">PACKAGING</th> 		
				<th class="labelBold">UNIT PRICE</th>
				<th class="labelBold">TOTAL PRICE</th> 	
			</tr>
			<tr th:each="orderItem, iter: ${orderItems}">
				<td th:text="${orderItem.product.name}">Product</td>
				
				<td th:text="${#numbers.formatDecimal(orderItem.quantity, 0, 'COMMA', 0, 'POINT')}">Quantity</td>
				<td th:text="${orderItem.skuLabel}">Packing</td>				
				<td th:text="${#numbers.formatDecimal(orderItem.invoicePrice, 0, 'COMMA', 0, 'POINT')}">Invoice Price</td>
				
				<td><span th:text="${#numbers.formatDecimal(orderItem.amount, 0, 'COMMA', 0, 'POINT')}"> </span><span style="margin-left: 0.5rem;" th:text="${currencyCode}"></span></td>
			</tr> 
		</table> 
		<table style="margin-top: 1rem;"> 	
			<tr> 		
				<td width="30%">PRICE</td>
				<td width="70%"> 			
					<table class="noBorder">
						<tr th:each="price, iter : ${prices}">
							<td width="1%" th:text="${iter.count} + ')' ">Count</td>
							<td width="99%"><span th:text="${#numbers.formatDecimal(price, 0, 'COMMA', 0, 'POINT')}"> </span><span style="margin-left: 0.5rem;" th:text="${currencyCode}"></td>
						</tr>
					</table> 		
				</td> 	
			</tr> 	
			<tr>
				<td width="30%">CARGO ORIGIN</td>
				<td width="70%" th:text="${cargoOrigin}">Cargo Origin</td>
			</tr> 	
			<tr>
				<td width="30%">TERMS OF DELIVERY</td>
				<td width="70%" th:text="${termOfDelivery}">Terms of Delivery</td> 	
			</tr> 	
			<tr>
				<td width="30%">TOTAL PRICE</td>
				<td width="70%"><span th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0, 'POINT')}"> </span><span style="margin-left: 0.5rem;" th:text="${currencyCode}"></td>				 
			</tr> 	
			<tr>
				<td width="30%">PAYMENT</td> 		
				<td width="70%" th:text="${payment}">Payment</td>
			</tr> 	
			<tr> 		
				<td width="30%">DELIVERY DATE RANGE</td>
				<td width="70%" th:text="${deliveryDateRange}">Delivery Date Range</td> 	
			</tr>
			<tr> 		
				<td width="30%">LOADING PORT</td>
				<td width="70%" th:text="${loadPort}">Loading Port</td> 	
			</tr>
			<tr>
				<td width="30%">DISCHARGE PORT / PLACE</td>
				<td width="70%" th:text="${port}">Discharge Port / Place</td> 	
			</tr> 	
			<tr>
				<td width="30%">INSURANCE</td> 		
				<td width="70%" th:text="${insurance}">Insurance</td>
			</tr> 	
			<tr>
				<td width="30%">TAX AND DUTIES</td>
				<td width="70%" th:text="${taxDuties}">Tax and Duties</td> 	
			</tr>
		</table> 
		<div style="margin-top: 2rem;"> 
			<table align="left" class="inlineTable">
				<tr>
					<td class="labelBold" width="30%">SELLER</td>
					<td width="70%" th:utext="${sellerName}">Tax and Duties</td>         
				</tr>
				<tr>
					<td class="labelBold" width="30%">Signature</td>
					<td width="70%"></td>
				</tr>         
				<tr>
					<td class="labelBold" width="30%">Name</td>
					<td width="70%"></td>         
				</tr>
				<tr>
					<td class="labelBold" width="30%">Designation</td>
					<td width="70%"></td>
				</tr>
			</table>     
			<table align="right" class="inlineTable">         
				<tr>
					<td class="labelBold" width="30%">BUYER</td>
					<td width="70%" th:utext="${buyerName}">Buyer</td>
				</tr>         
				<tr>
					<td class="labelBold" width="30%">Signature</td>             
					<td width="70%"></td>
				</tr>         
				<tr>
					<td class="labelBold" width="30%">Name</td>
					<td width="70%"></td>         
				</tr>         
				<tr>
					<td class="labelBold" width="30%">Designation</td>             
					<td width="70%"></td>
				</tr>     
			</table>
		</div> 
	</body> 
</html>