<!DOCTYPE html> 
<html> 
	<body style="font-family: arial; max-width: 60rem;">
		<table style="width: 100%;"> 		
			<tr>
				<td style="padding-left: 1rem; border-bottom: 1px solid black;">
					<img th:src="${sellerCompanyLogo}" border="0px" alt="Image" 
						style="max-height: 80px; padding: 0.5rem;"/>					
				</td> 		
				<td style="text-align: right; padding-right: 1rem; border-bottom: 1px solid black;">
					<div class="row" style="margin-bottom: 0.5rem;">
						<span style="font-size: 1.4rem;" th:text="${sellerCompanyName}">Business Unit</span>						
					</div>
					<div class="row">
						<span style="font-size: 0.8rem;" th:text="'(Company Registration ' + ${sellerCompanyRegistration} + ')'">Company Registration</span>
					</div>
				</td>								
			</tr>
			<tr>
				<td colspan="2" style="text-align: center; padding-top: 1rem;">
					<span style="font-size: 1.6rem; font-weight: bold;">SALES CONTRACT</span>	
				</td>
			</tr>
		</table> 
	</body>
</html>
<br>
