<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
		<style>
		table {
			width: 100%;
			border: 1px solid rgb(0, 0, 0);
			border-collapse: collapse;
		}

		table table.noBorder {
			width: 100%;
			border: 0;
		}

		table table.noBorder tr {
			border: 0;
		}

		table table.noBorder td {
			border: 0;
		}

		table, th, td {
			border: 1px solid rgb(0, 0, 0);
		}

		td {
			padding: 0.5rem
		}

		.labelBold {
			text-align: left;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}

		.page-break {
			height: 0;
			page-break-after: always;
			margin: 0;
			border-top: none;
		}

		.inlineTable {
			width: 40%;
			border: 0;
		}

		tr.noBorder td {
			border: 0;
		}

        .main-body {
            display: flex;
            display: -webkit-box;

            flex-direction: column;
            -webkit-box-orient: vertical;

            justify-content: space-between;
            -webkit-box-pack: justify;

            position: relative;
        }
        
        table { 
			page-break-inside:auto 
		}
		
    	tr { 
			page-break-inside:avoid; 
			page-break-after:auto 
		}

		</style>
        <script>
            function setBodyHeight() {
                var mainBody = document.querySelectorAll('.main-body')[0];
                var pageHeight = 2260;
                var mainBodyHeight = (mainBody.clientHeight) /  2;
                var totalPage = Math.ceil(mainBodyHeight / pageHeight);
                
                if (mainBodyHeight > pageHeight && (mainBodyHeight / pageHeight)%1 > 0.4) {	
				//document.getElementById('display').innerHTML="1, " + mainBodyHeight + ", " + (mainBodyHeight / pageHeight) + ", " + pageHeight;
				pageHeight = pageHeight + (1130 * totalPage);
				totalPage = Math.ceil(mainBodyHeight / pageHeight);
			} else if((mainBodyHeight / pageHeight) > 0.9 && (mainBodyHeight / pageHeight) < 1.0){
				//document.getElementById('display').innerHTML="2, " + mainBodyHeight + ", " + (mainBodyHeight / pageHeight) + ", " +totalPage + ", " + pageHeight;
				pageHeight = pageHeight + (1130 * totalPage);
				totalPage = Math.ceil(mainBodyHeight / pageHeight);
			} else {
				//document.getElementById('display').innerHTML="3, " + mainBodyHeight + ", " + (mainBodyHeight / pageHeight) + ", " +totalPage + ", " + pageHeight;
			}
                var totalHeight = totalPage * pageHeight;

                document.querySelectorAll('.main-body')[0].style.height = totalHeight + 'px';
            }
        </script>
	</head>
	<body style="font-family: arial;" onload="setBodyHeight()">

        <div class="main-body">
            <div class="top-section">
            	<p class="labelBold" style="text-align: center; margin-top: 3rem; margin-bottom: 0rem;">SALES ORDER CONFIRMATION</p>
                <table>
                    <tr>
                        <td class="labelBold" width="35%">AGREEMENT NUMBER :</td>
                        <td width="65%" th:text="${PONumber}">Agreement Number</td>
                    </tr>
                    <tr>
                        <td class="labelBold" width="35%">SALES ORDER CONFIRMATION NUMBER & DATE :</td>
                        <td width="65%" th:text="${socNumberAndDate}">Agreement Commencement Date</td>
                    </tr>
                    <tr>
                        <td class="labelBold" width="35%">SELLER</td>
                        <td width="65%">
                            <table class="noBorder">
                                <tr>
                                    <td style="padding: 0.3rem 0;" colspan="2" class="labelBold" th:utext="${sellerCompanyNameUpperCase}">Seller Company Name</b></td>
                                </tr>
                                <tr>
                                    <td style="padding: 0.3rem 0;" colspan="2" th:utext="${sellerAddress}">Seller Address</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelBold" width="35%">BUYER</td>
                        <td width="65%">
                            <table class="noBorder">
                                <tr>
                                    <td style="padding: 0.3rem 0;" colspan="2" class="labelBold" th:utext="${buyerName}">Buyer Name</td>
                                </tr>
                                <tr>
                                    <td style="padding: 0.3rem 0;" colspan="2" th:utext="${buyerAddress}">Buyer Address</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <br/>

                <p>NOW THEREFORE, it is hereby agreed as follows: </p>

                <table style="margin-top: 1rem;">
                    <tr>
                        <th class="labelBold" style="text-align: center;">PRODUCT</th>
                        <th class="labelBold" style="text-align: center;">QUANTITY / VOLUME</th>
                        <th class="labelBold" style="text-align: center;">CONTAINER SIZE</th>
                        <th class="labelBold" style="text-align: center;">UNIT PRICE</th>
                        <th class="labelBold" style="text-align: center;">DESTINATION PORT / CITY</th>
                    </tr>
                    <tr th:each="orderItem, iter: ${orderItems}" style="text-align: center;">
                        <td style="font-weight: bold;" th:text="${orderItem.productName}">Product</td>
                        <td><span th:text="${#numbers.formatDecimal(orderItem.quantity, 1, 'COMMA', 3, 'POINT')}"> </span>
                            <span th:text="${orderItem.uomCode}"></span>
                        </td>
                        <td style="padding: 0.5rem;" th:utext="${orderItem.containerSize}">Container Size</td>
                        <td><span th:text="${#numbers.formatDecimal(orderItem.invoicePrice, 1, 'COMMA', priceDecimalDigits, 'POINT')}"> </span>
                        	<span th:text="${currencyCode}"></span>/<span th:text="${orderItem.uomCode}"></span></td>
                        <td><span th:text="${#strings.capitalizeWords(#strings.toLowerCase(orderItem.destinationCountry))}"></span></td>
                    </tr>
                </table>
                <table style="margin-top: 2rem;">
                    <tr>
                        <td width="30%">CARGO ORIGIN</td>
                        <td width="70%" th:text="${cargoOrigin}">Cargo Origin</td>
                    </tr>
                    <tr>
                        <td  width="30%">PACKAGING</td>
                        <td width="70%" style="white-space: pre;" th:text="${packagingTexts}">Pakaging</td>
                    </tr>
                    <tr>
                        <td  width="30%">TERMS OF DELIVERY</td>
                        <td width="70%" th:text="${termOfDelivery}">Terms of Delivery</td>
                    </tr>
                    <tr>
                        <td width="30%">TOTAL PRICE</td>
                        <td width="70%"><span th:text="${currencyCode}"> </span>
                        	<span th:if="${totalPrice != 0.0}" th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', priceDecimalDigits, 'POINT')}"></span>
                        	<span th:if="${totalPrice == 0.0}">0.000</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">PAYMENT</td>
                        <td width="70%" th:text="${payment}" style="white-space: pre-line;">JP
                        </td>
                    </tr>
                    <tr>
                        <td width="30%">DELIVERY DATE RANGE</td>
                        <td width="70%" th:text="${deliveryDateRange}">Delivery Date Range</td>
                    </tr>
                    <tr>
                        <td width="30%">LOAD PORT</td>
                        <td width="70%" th:text="${loadPort}"></td>
                    </tr>
                    <tr>
                        <td width="30%">INSURANCE</td>
                        <td width="70%" th:text="${insurance}">Buyer's account</td>
                    </tr>
                    <tr>
                        <td width="30%">TAX AND DUTIES</td>
                        <td style="page-break-inside: avoid; page-break-after: auto;" width="70%" th:utext="${taxDuties}">Tax and Duties
                        </td>
                    </tr>
                    <tr style="page-break-inside: avoid !important;">
                        <td width="30%">OTHER TERMS & CONDITIONS</td>
                        <td width="70%" th:utext="${termsConditions}">Other terms and conditions</td>
                    </tr>
                </table>
            </div>
            <div class="bottom-section">
                <div style="margin-top: 2rem;">

                    <table style="border: 0; width: 100%; margin-top: 3rem;">
                        <tr class="noBorder">
                            <td class="labelBold" style="width: 45%">SELLER</td>
                            <td style="width: 10%"></td>
                            <td class="labelBold" style="width: 45%">BUYER</td>
                        </tr>
                        <tr class="noBorder" style="vertical-align: top">
                            <td class="labelBold" style="width: 45%" th:utext="${sellerCompanyNameUpperCase}">Seller Company Name</td>
                            <td style="width: 10%"></td>
                            <td class="labelBold" style="width: 45%" th:utext="${buyerName}">Buyer Company Name</td>
                        </tr>
                        <tr class="noBorder">
                            <td colspan="3" style="height: 5rem;">&nbsp;</td>
                        </tr>
                        <tr class="noBorder">
                            <td style="width: 45%">Signature: </td>
                            <td style="width: 10%"></td>
                            <td style="width: 45%">Signature: </td>
                        </tr>
                        <tr class="noBorder">
                            <td style="width: 45%">Name: </td>
                            <td style="width: 10%"></td>
                            <td style="width: 45%">Name: </td>
                        </tr>
                        <tr class="noBorder">
                            <td style="width: 45%">Designation: </td>
                            <td style="width: 10%"></td>
                            <td style="width: 45%">Designation: </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
	</body>
</html>