<!DOCTYPE html> 
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
		<style>
		table {
			width: 100%;
			border: 1px solid rgb(0, 0, 0);
			border-collapse: collapse;
		}
		
		table table.noBorder {
			width: 100%;
			border: 0;
		}
		
		table table.noBorder tr {
			border: 0;
		}
		
		table table.noBorder td {
			border: 0;
		}
		
		table, th, td {
			border: 1px solid rgb(0, 0, 0);
		}
		
		td {
			padding: 0.5rem
		}
		
		.labelBold {
			text-align: left;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}
		
		.page-break {
			height: 0;
			page-break-after: always;
			margin: 0;
			border-top: none;
		}
		
		.inlineTable {
			width: 40%;
			border: 0;
		}

		tr.noBorder td {
			border: 0;
		}
		
		table { 
			page-break-inside:auto 
		}
		
    	tr { 
			page-break-inside:avoid; 
			page-break-after:auto 
		}

		</style>		 
	</head>	
	<body style="font-family: arial; font-size: large;">  
		<!--<p class="labelBold" style="text-align: center; margin-top: 3rem; margin-bottom: 0rem;">SALES ORDER CONFIRMATION</p>-->
		<table> 	
			<tr> 		
				<td class="labelBold" width="25%">SALES AGREEMENT DATE:</td>
				<td width="75%" th:text="${socGenerateDate}">Agreement Number</td> 	
			</tr> 	
			<tr>
				<td class="labelBold" width="25%">CONTRACT NUM:</td>
				<td width="75%" th:text="${socNumber}">Agreement Commencement Date</td> 	
			</tr>
			<tr>
				<td class="labelBold" width="25%">CONTRACT DATE:</td>
				<td width="75%" th:text="${contractDate}">Agreement Commencement Date</td> 	
			</tr>
			<tr> 		
				<td class="labelBold" width="25%">SELLER</td>
				<td width="75%"> 			
					<table class="noBorder"> 				
						<tr>
							<td style="padding: 0.3rem 0;" colspan="2" class="labelBold" th:utext="${sellerCompanyName}">Seller Company Name</b></td> 				
						</tr>
						<tr> 					
							<td style="padding: 0.3rem 0;" colspan="2" th:utext="${sellerAddress}">Seller Address</td>
						</tr>
					</table> 		
				</td> 	
			</tr> 	
			<tr>
				<td class="labelBold" width="25%">BUYER</td> 		
				<td width="75%">
					<table class="noBorder"> 				
						<tr>
							<td style="padding: 0.3rem 0;" colspan="2" class="labelBold" th:utext="${buyerName}">Buyer Name</td> 				
						</tr>
						<tr> 					
							<td style="padding: 0.3rem 0;" colspan="2" th:utext="${buyerAddress}">Buyer Address</td>
						</tr> 	
					</table> 		
				</td> 	
			</tr> 			
		</table> 
		<br/>
		
		<p style="margin-bottom: 0; margin-top: 0;">NOW THEREFORE, it is hereby agreed as follows:</p>	
		
		<table style="margin-top: 0.5rem;"> 	
			<tr>
				<th class="labelBold" style="text-align: center;">Product</th> 		
				<th class="labelBold" style="text-align: center;">Quantity/Volume<br>(MT)</th>
				<th class="labelBold" style="text-align: center;">Container Size</th>	
				<th class="labelBold" style="text-align: center;">Number of Containers</th>
				<th class="labelBold" style="text-align: center;">Price<br>(USD/MT)</th>
			</tr>
			<tr th:each="orderItem, iter: ${orderItems}" style="text-align: center;">
				<td th:text="${orderItem.productName}">Product</td>		
				<td><span th:text="${#numbers.formatDecimal(orderItem.quantity, 1, 'COMMA', quantityDecimalDigits, 'POINT')}"> </span>
					<span th:text="${orderItem.uomCode}"></span>
				</td>
				<td style="padding: 0.5rem;" th:utext="${orderItem.containerSize}">Container Size</td>
				<td style="padding: 0.5rem;" th:utext="${orderItem.containerVolume}">Container Size</td>
				<td><span th:text="${#numbers.formatDecimal(orderItem.invoicePrice, 1, 'COMMA', priceDecimalDigits, 'POINT')}"></span> <span th:text="${currencyCode}"></span>/<span th:text="${orderItem.uomCode}"></span></td>	
			</tr> 
		</table> 
		<table style="margin-top: 2rem;">	
			<tr>
				<td width="25%" class="labelBold">CONTRACT DOCUMENTS</td>
				<td width="75%" style="white-space: pre-line;">The following documents shall together constitute the Sales Contract between the parties:-
					Part 1: Sales Order Confirmation (SOC)
					Part 2: General Terms and COnditions of Sales
					Part 3: Terms of Delivery
				</td>
			</tr> 
			<tr>
				<td width="25%" class="labelBold">CARGO ORIGIN</td>
				<td width="75%" th:text="${cargoOrigin}">Cargo Origin</td>
			</tr> 	
			<tr>
				<td  width="25%" class="labelBold">PACKAGING</td>
				<td width="75%" style="white-space: pre;" th:text="${packagingTexts}">Pakaging</td> 	
			</tr> 	
			<tr>
				<td  width="25%" class="labelBold">TERMS OF DELIVERY</td>
				<td width="75%"><span style="font-weight: bold;" th:text="${termOfDelivery}"></span> as per INCOTERMS 2020</td> 	
			</tr> 	
			<tr>
				<td width="25%" class="labelBold">TOTAL PRICE</td>
				<td width="75%"><span th:text="${currencyCode}"></span> <span th:text="${#numbers.formatDecimal(totalPrice, 1, 'COMMA', priceDecimalDigits, 'POINT')}"></td>				 
			</tr> 	
			<tr>
				<td width="25%" class="labelBold">PAYMENT</td> 		
				<td width="75%" style="white-space: pre-line;">100% of Sales/Purchase Contract Value By <span th:text="${paymentDescription}"></span> advised directly to:
				<span style="font-weight: bold;" th:text="${payment}"></span></td>
			</tr> 	
			<tr> 		
				<td width="25%" class="labelBold">DELIVERY DATE RANGE</td>
				<td width="75%"><span style="font-weight: bold;" th:text="${deliveryDateRange}"></span> and subject to product availability</td> 	
			</tr>
			<tr> 		
				<td width="25%" class="labelBold">LOAD PORT</td>
				<td width="75%" style="white-space: pre-line;"><span th:text="${loadPort}"></span></td> 	
			</tr>
			<tr>
				<td width="25%" class="labelBold">INSURANCE</td>
				<td width="75%">To be arranged and covered by <span style="font-weight: bold;" th:text="${insurance}"></span></td> 								
			</tr>
			<tr>
				<td width="25%" class="labelBold">TAX AND DUTIES</td>
				<td width="75%" th:utext="${taxDuties}">Tax and Duties
				</td> 								
			</tr>
			<tr> 		
				<td width="25%" class="labelBold">OTHER TERMS & CONDITIONS</td>
				<td width="75%" th:utext="${termsConditions}">Other terms and conditions</td> 	
			</tr>
		</table> 
		
		<table style="width: 100%; margin-top: 2rem; border: 0;">
			<tr>
				<td style="width: 15%">Seller</td>
				<td style="width: 30%">
					<span style="margin: 0;" th:utext="${sellerCompanyName}">efg</span>
				</td>
				<td style="border: 0;"></td>
				<td style="width: 15%">Buyer</td>
				<td style="width: 30%">
					<p th:utext="${buyerName}">hij</p>
				</td>
			</tr>
			<tr>
				<td style="width: 15%; height: 5rem; vertical-align: top;">
					<p>Signature</p>
				</td>
				<td style="width: 30%; height: 5rem;"></td>
				<td style="border: 0;"></td>
				<td style="width: 15%; height: 5rem; vertical-align: top;">
					<p>Signature</p>
				</td>
				<td style="width: 30%; height: 5rem;"></td>
			</tr>
			<tr>
				<td style="width: 15%;">
					<p>Name</p>
				</td>
				<td style="width: 30%;"></td>
				<td style="border: 0;"></td>
				<td style="width: 15%;">
					<p>Name</p>
				</td>
				<td style="width: 30%;"></td>
			</tr>
			<tr>
				<td style="width: 15%; padding-top: 0;">
					<p>Designation</p>
				</td>
				<td style="width: 30%; padding-top: 0;"></td>
				<td style="border: 0;"></td>
				<td style="width: 15%; padding-top: 0;">
					<p>Designation</p>
				</td>
				<td style="width: 30%; padding-top: 0;"></td>
			</tr>
		</table>
	</body> 
</html>