<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
		<style>
		table {
			width: 100%;
			border: 1px solid rgb(0, 0, 0);
			border-collapse: collapse;
		}

		table table.noBorder {
			width: 100%;
			border: 0;
		}

		table table.noBorder tr {
			border: 0;
		}

		table table.noBorder td {
			border: 0;
		}

		table, th, td {
			border: 1px solid rgb(0, 0, 0);
		}

		td {
			padding: 0.5rem
		}

		.labelBold {
			text-align: left;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}

		.page-break {
			height: 0;
			page-break-after: always;
			margin: 0;
			border-top: none;
		}

		.inlineTable {
			width: 40%;
			border: 0;
		}

		tr.noBorder td {
			border: 0;
		}

        .main-body {
            display: flex;
            display: -webkit-box;

            flex-direction: column;
            -webkit-box-orient: vertical;

            justify-content: space-between;
            -webkit-box-pack: justify;

            position: relative;
            
        }
        
        table { 
			page-break-inside:auto 
		}
		
    	tr { 
			page-break-inside:avoid; 
			page-break-after:auto 
		}
		
		</style>
        <script>
            function setBodyHeight() {
                var mainBody = document.querySelectorAll('.main-body')[0];
                var pageHeight = 1130;
                var mainBodyHeight = (mainBody.clientHeight) /  2;
                var totalPage = Math.ceil(mainBodyHeight / pageHeight);
                // document.getElementById('display').innerHTML="1, " + mainBodyHeight + ", " + (mainBodyHeight / pageHeight) + ", " +totalPage + ", " + pageHeight;
                
                if((mainBodyHeight / pageHeight) % 1 < 0.6){
					totalPage = totalPage - 1;
				}
                var totalHeight = totalPage * pageHeight;

                document.querySelectorAll('.main-body')[0].style.height = totalHeight + 'px';
            }
        </script>
	</head>
	<body onload="setBodyHeight()">

        <div class="main-body">
            <div class="top-section">
                <table style="margin-top: 3rem;">
                    <tr>
                        <td class="labelBold" width="26%">
							<p style="font-weight: normal; margin: 0;">合 同 确 认 号 SALES CONFIRMATION NO:</p>
						</td>
                        <td width="74%"colspan="2" th:text="${PONumber}">Agreement Number</td>
                        <!--<td width="74%"colspan="2" id="display"></td>-->
                    </tr>
                    <tr>
                        <td class="labelBold" width="26%">
							<p style="font-weight: normal; margin: 0;">合 同 日 期 CONTRACT DATE:</p>
                        </td>
                        <td width="74%" colspan="2" th:text="${agreementCommencementDate}">Agreement Commencement Date</td>
                    </tr>
                    <tr>
                        <td class="labelBold" width="26%" style="vertical-align: baseline;">
							<p style="font-weight: normal; margin: 0;">卖方 SELLER:</p>
                        </td>
                        <td width="37%" style="vertical-align: text-top;">
                        	<p style="margin: 0; padding-left: 0;" class="labelBold" th:utext="${sellerCompanyNameUpperCase}">abc</p>
                            <p style="margin: 0;" th:utext="${sellerAddress}">efg</p>
                            <p style="margin: 0;"><span>Telephone: </span><span th:utext="${sellerPhoneNumber}"></span></p>
                            <p style="margin: 0;"><span>Facsimile: </span><span th:utext="${sellerFaxNumber}"></span></p>
                            <p style="margin: 0;"><span>Attention: </span><span th:utext="${sellerAttention}"></span></p>
                        </td>
                        <td width="37%" style="vertical-align: text-top;">
                        	<p style="margin: 0; padding-left: 0;" class="labelBold" th:utext="${sellerCompanyNameInChinese}">abc</p>
                            <p style="margin: 0;" th:utext="${sellerAddressInChinese}">efg</p>
                            <p style="margin: 0;"><span>电话: </span><span th:utext="${sellerPhoneNumber}"></span></p>
                            <p style="margin: 0;"><span>传真: </span><span th:utext="${sellerFaxNumber}"></span></p>
                            <p style="margin: 0;"><span>联系人: </span><span th:utext="${sellerAttentionInChinese}"></span></p>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelBold" width="26%" style="vertical-align: baseline;">
							<p style="font-weight: normal; margin: 0;;">买方 BUYER:</p>
                        </td>
                        <td width="37%" style="vertical-align: text-top;">
                        	<p style="margin: 0; padding-left: 0;" class="labelBold" th:utext="${buyerName}">hij</p>
                            <p style="margin: 0;" th:utext="${buyerAddress}">efg</p>
                            <p style="margin: 0;"><span>Telephone: </span><span th:utext="${buyerTelephoneNo}"></span></p>
                            <p style="margin: 0;"><span>Facsimile: </span><span th:utext="${buyerFacsimile}"></span></p>
                            <p style="margin: 0;"><span>Attention: </span><span th:utext="${buyerAttention}"></span></p>
                        </td>
                        <td width="37%" style="vertical-align: text-top;">
                        	<p style="margin: 0; padding-left: 0;" class="labelBold" th:utext="${buyerChineseName}">hij</p>
                            <p style="margin: 0;" th:utext="${buyerChineseAddress}">klm</p>
                            <p style="margin: 0;"><span>电话: </span><span th:utext="${buyerTelephoneNo}"></span></p>
                            <p style="margin: 0;"><span>传真: </span><span th:utext="${buyerFacsimile}"></span></p>
                            <p style="margin: 0;"><span>联系人: </span><span th:utext="${buyerAttention}"></span></p>
                        </td>
                    </tr>
                </table>

                <p style="margin: 0; margin-bottom: 15px; ">NOW THEREFORE, it is hereby agreed as follows: 现达成如下协议:</p>
                
                <table>
                    <tr>
                        <th class="labelBold" style="text-align: center; width: 20%;">
                        	<p style="font-weight: normal; margin: 0;">
								产品
							</p>
                			<p style="margin: 0; font-weight: normal;">PRODUCT</p>
                        </th>
                        <th class="labelBold" style="text-align: center; width: 20%;">
                        	<p style="font-weight: normal; margin: 0;">
								货量 （<span th:text="${docUomCodeChinese}"></span>）
							</p>
                			<p style="margin: 0; font-weight: normal;">VOLUME (<span th:text="${docUomCode}"></span>)</p>
                        </th>
                        <th class="labelBold" style="text-align: center; width: 15%;">
                        	<p style="font-weight: normal; margin: 0;">
								包装
							</p>
                			<p style="margin: 0; font-weight: normal;">PACKAGING</p>
                        </th>
                        <th class="labelBold" style="text-align: center; width: 20%;">
                        	<p style="font-weight: normal; margin: 0;">
								含税单价 （人民币/<span th:text="${docUomCodeChinese}"></span>）
							</p>
                			<p style="margin: 0; font-weight: normal;">UNIT PRICE</p>
                			<p style="margin: 0; font-weight: normal;">(TAX INCLUDED, RMB / <span th:text="${docUomCode}"></span>)</p>
                        </th>
                        <th class="labelBold" style="text-align: center; width: 20%;">
                        	<p style="font-weight: normal; margin: 0;">
								合计 （人民币）
							</p>
                			<p style="margin: 0; font-weight: normal;">SUB-TOTAL AMOUNT (RMB)</p>
                        </th>
                    </tr>
                    <tr th:each="orderItem, iter: ${orderItems}" style="text-align: center;">
                        <td style="font-weight: normal; text-align: center;">
                        	<p th:text="${orderItem.productNameInChinese}">Product</p>
                        	<p th:text="${orderItem.productName}">Product</p>
                        </td>
                        <td style="text-align: center;"><span th:text="${#numbers.formatDecimal(orderItem.quantity, 1, 'COMMA', 3, 'POINT')}"></span> (+/- 5% tolerance at seller’s option)
                        </td>
                        <td style="padding: 0.5rem; text-align: center;">
                        	<p style="margin: 0;" th:text="${orderItem.packagingChinese}">Bulk</p>
                        	<p style="margin: 0" th:text="${#strings.capitalizeWords(#strings.toLowerCase(orderItem.packaging))}"></p>
                        </td>
                        <td style="text-align: center;"><span th:text="${#numbers.formatDecimal(orderItem.invoicePriceRMB, 1, 'COMMA', priceDecimalDigits, 'POINT')}"></span></td>
                        <td style="text-align: center;"><span th:text="${#numbers.formatDecimal(orderItem.itemPrice, 1, 'COMMA', priceDecimalDigits, 'POINT')}">Quantity * invocie</span></td>
                    </tr>
                    <tr>
                    	<td colspan="4" class="labelBold" style="text-align: end; font-weight: normal;">总体金额 TOTAL</td>
                    	<td style="text-align: center;"><span th:text="${#numbers.formatDecimal(totalPrice, 1, 'COMMA', priceDecimalDigits, 'POINT')}"></td>
                    </tr>
                </table>
				<br>
				<!--<p style="margin: 0; margin-bottom: 10px; font-style: italic;">*Quantity : +/- 5% Operational Tolerance at Seller Option</p>-->
				
                <table>
                    <tr style="height: 0;">
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								货源
							</p>
                			<p style="margin: 0; font-weight: normal;">CARGO ORIGIN</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${cargoOriginChinese}">Cargo Origin In Chinese</p>
                        	<p style="margin: 0;" th:text="${cargoOrigin}">Malaysia</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								质量标准
							</p>
                			<p style="margin: 0; font-weight: normal;">QUANLITY</p>
                        </td>
                        <td width="70%">IMPCA</td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								包装
							</p>
                			<p style="margin: 0; font-weight: normal;">PACKAGING</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${allPackagingChineseText}">Packaging In Chinese</p>
                			<p style="margin: 0;" th:text="${allPackagingText}">Packaging</p>
                        </td>
                    </tr>
                    <tr>
                        <td  width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								交付条件
							</p>
                			<p style="margin: 0; font-weight: normal;">TERM OF DELIVERY</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${termOfDeliveryInChinese}"></p>
                			<p style="margin: 0;" th:text="${termOfDelivery}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td  width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								总金额 （含税）
							</p>
                			<p style="margin: 0; font-weight: normal;">TOTAL PRICE (TAX INCLUDED)</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${mergePriceChineseText}"></p>
                        	<p style="margin: 0;" th:text="${mergePriceEnglishText}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td  width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								付款方式
							</p>
                			<p style="margin: 0; font-weight: normal;">PAYMENT</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0; white-space: pre-line;" th:text="${payment}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								货物交付
							</p>
                			<p style="margin: 0; font-weight: normal;">DELIVERY</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;">1. 买方办好电汇付款后应通知卖方，电汇到账后卖方安排放货事宜。</p>
                			<p style="margin: 0;">1. Buyer shall make payment through telegraphic transfer and notify the Seller of the payment.  Seller will arrange cargoes release upon Seller’s confirmation on the receipt of the payment.</p>
                        	<p style="margin: 0; margin-top: 1rem;">2. 买方（包括买方所委托的货运公司）自提。</p>
                        	<p style="margin: 0;">2. Buyer (including the freight company entrusted by Buyer) is required to arrange self-collection of the Products.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								交付日期
							</p>
                			<p style="margin: 0; font-weight: normal;">DELIVERY DATE RANGE</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${deliveryDateRangeInChinese}"></p>
                			<p style="margin: 0;" th:text="${deliveryDateRange}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								卸货港/交付地点
							</p>
                			<p style="margin: 0; font-weight: normal;">DISCHARGE PROT / PLACE OF DELIVERY</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${dischargePortTextInChinese}">Discharge Port In Chinese</p>
                        	<p style="margin: 0;" th:text="${dischargePortText}">Discharge Port</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								拥有权
							</p>
                			<p style="margin: 0; font-weight: normal;">OWNERSHIP</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;">货物出库：	1. 船舶发货通过发货船岸连接法兰处之后的数质量风险及责任由买方承担，</p>
                        	<p style="margin: 0;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        		2. 车辆发货在发货出口处之后的数质量风险及责任买方承担。</p>
                        	<p style="margin: 0;">Goods ex-tank: 1. The quantity and quality risks and liabilities for vessel loading after the connection of the flange with the loading vessel shore shall be borne by buyer.</p>
                        	<p style="margin: 0;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        		2. The quantity and quality risks and liabilities for vehicle loading after the loading exit shall be borne by buyer.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								货物数量确认
							</p>
                			<p style="margin: 0; font-weight: normal;">QUANTITY CONFIRMATION</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${quantityComfirmationInChinese}">Qty Comfirmation in Chinese</p>
                        	<p style="margin: 0;" th:text="${quantityComfirmation}">Qty Confirmation</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								保险
							</p>
                			<p style="margin: 0; font-weight: normal;">INSURANCE</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${insuranceInChinese}">Insurance in Chinese</p>
                        	<p style="margin: 0;" th:text="${insurance}">Insurance</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								货物的损毁、灭失风险
							</p>
                			<p style="margin: 0; font-weight: normal;">RISK OF DAMAGE AND LOSS</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;">在货物交付之前由卖方承担货物的损毁、灭失风险，货物交付之后则由买方承担货物的损毁、灭失风险。买方应在货物交付当时，完成当批次货物的数量确认工作，逾期视为买方对货物数量无异议。</p>
                        	<p style="margin: 0;">Seller shall bear the risk of damage and loss for the Products before the delivery of the Products. When the delivery of the Products is completed, Buyer shall bear the risk of damage and loss for the Products. Buyer has to complete the confirmation of the quantity of the Products at the time of delivery and regards as no objection after then.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								税负
							</p>
                			<p style="margin: 0; font-weight: normal;">TAX AND DUTIES</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${taxDuties}">Tax and Duties</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								违约责任
							</p>
                			<p style="margin: 0; font-weight: normal;">LIABILITY FOR BREACH OF CONTRACT</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;">1. 任何一方违反资质条件，提供虚假证明而给对方造成损失的，应承担赔偿责任。</p>
                        	<p style="margin: 0;">1. Any party who does not have any permit or license or provide false certificates to enter this contract which causes losses to the other party shall be liable for compensation.</p>
                        	<p style="margin: 0; margin-top: 1rem;">2. 买方拒收货物超过10日的，卖方有权将货物随行就市转卖，并要求损害赔偿。</p>
                        	<p style="margin: 0;">2. If the buyer refuses to accept the goods for more than 10 days, the Seller has the right to resell the goods to the market and ask for compensation.</p>
                        	<p style="margin: 0; margin-top: 1rem;">3. 卖方与本合同相关的全部各类责任不应超出本合同上所列明的总金额的100%。</p>
                        	<p style="margin: 0;">3. All the liabilities of Seller in whatever kind relating to this Contract shall not exceed the 100% of Sales/ Purchase Value listed in this Contract.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								其它条款
							</p>
                			<p style="margin: 0; font-weight: normal;">OTHER TERMS AND CONDITIONS</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;" th:text="${termsConditions}"></p>
                        	<!--<p style="margin: 0;">1.买方需保证所提供的运输工具资料及单证真实完整、手续齐全。否则，愿承担相关经济及法律责任。</p>
                        	<p style="margin: 0;">1. Buyer guarantees that all transportation materials and documents provided are accurate, genuine and complete. Otherwise, Buyer shall bear relevant loss and legal responsibilities.</p>
                        	<p style="margin: 0;">2. 买方需保证所委派的运输工具及司乘人员依法具备承运有关货物及执业的资质，并保证其在第三方仓储公司进行作业时，服从仓储公司有关人员的指挥并遵守各项安全管理制度及规程。</p>
                        	<p style="margin: 0;">2.Buyer needs to ensure that the assigned transportation tools and staff are legally qualified to carry the relevant goods, and ensure they obey the instructions of the relevant personnel of the storage company and abide by all safety management systems and regulation when they are operating in the third-party storage company.</p>-->
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal;">
								语言
							</p>
                			<p style="margin: 0; font-weight: normal;">GOVERNING LANGUAGE</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;">本合同用英文和中文写成。两种文本具有同等效力。当中英文本含义冲突或不一致时，应以中文文本为准。</p>
                        	<p style="margin: 0;">This Contract is written in both English and Chinese languages. Both versions are equally authentic. 
                        	In case of any discrepancies or conflicts between the two versions, the Chinese version shall prevail.</p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold" style="vertical-align: baseline;">
                        	<p style="margin: 0; font-weight: normal; font-family: 'SimSun';">
								合同生效
							</p>
                			<p style="margin: 0; font-weight: normal;">VALIDITY OF THE CONTRACT</p>
                        </td>
                        <td width="70%">
                        	<p style="margin: 0;">本合同一式两份，自双方正式签署之日起生效。</p>
                        	<p style="margin: 0;">This Contract is made in two originals, and shall come into force upon both parties' duly execution.</p>
                        </td>
                    </tr>
                </table>
            </div>
			<div class="bottom-section" style="margin-top: 2rem;">
				<table style="border: 0; width: 100%;">
					<tr class="noBorder">
						<td class="labelBold" style="width: 45%; font-weight: normal;">卖方 SELLER</td>
						<td style="width: 10%"></td>
						<td class="labelBold" style="width: 45%; font-weight: normal;">买方 BUYER</td>
					</tr>
					<tr class="noBorder" style="height: 15px;">
						<td style="width: 45%"></td>
						<td style="width: 10%"></td>
						<td style="width: 45%"></td>
					</tr>
					<tr class="noBorder" style="vertical-align: top">
						<td class="labelBold" style="width: 45%" th:utext="${sellerCompanyNameInChinese}">Seller Company Name
						</td>
						<td style="width: 10%"></td>
						<td class="labelBold" style="width: 45%" th:utext="${buyerChineseName}">Buyer Company Name</td>
					</tr>
					<tr class="noBorder" style="vertical-align: top">
						<td class="labelBold" style="width: 45%" th:utext="${sellerCompanyNameUpperCase}">Seller Company Name
						</td>
						<td style="width: 10%"></td>
						<td class="labelBold" style="width: 45%" th:utext="${buyerName}">Buyer Company Name</td>
					</tr>
					<tr class="noBorder">
						<td colspan="3" style="height: 5rem;">&nbsp;</td>
					</tr>
					<tr class="noBorder">
						<td style="width: 45%;">姓名 Name: </td>
						<td style="width: 10%;"></td>
						<td style="width: 45%;">姓名 Name: </td>
					</tr>
					<tr class="noBorder">
						<td style="width: 45%; padding-top: 0;">职称 Designation: </td>
						<td style="width: 10%; padding-top: 0;"></td>
						<td style="width: 45%; padding-top: 0;">职称 Designation: </td>
					</tr>
				</table>
			</div>
        </div>
	</body>
</html>
