<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
		<style>
		table {
			width: 100%;
			border: 1px solid rgb(0, 0, 0);
			border-collapse: collapse;
		}

		table table.noBorder {
			width: 100%;
			border: 0;
		}

		table table.noBorder tr {
			border: 0;
		}

		table table.noBorder td {
			border: 0;
		}

		table, th, td {
			border: 1px solid rgb(0, 0, 0);
		}

		td {
			padding: 0.5rem
		}

		.labelBold {
			text-align: left;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}

		.page-break {
			height: 0;
			page-break-after: always;
			margin: 0;
			border-top: none;
		}

		.inlineTable {
			width: 40%;
			border: 0;
		}

		tr.noBorder td {
			border: 0;
		}

        .main-body {
            display: flex;
            display: -webkit-box;

            flex-direction: column;
            -webkit-box-orient: vertical;

            justify-content: space-between;
            -webkit-box-pack: justify;

            position: relative;
        }
        
        table { 
			page-break-inside:auto 
		}
		
    	tr { 
			page-break-inside:avoid; 
			page-break-after:auto 
		}
		
		</style>
        <script>
            function setBodyHeight() {
                var mainBody = document.querySelectorAll('.main-body')[0];
                var pageHeight = 1130;
                var mainBodyHeight = (mainBody.clientHeight) /  2;
                var totalPage = Math.ceil(mainBodyHeight / pageHeight);
                //document.getElementById('display').innerHTML="1, " + mainBodyHeight + ", " + (mainBodyHeight / pageHeight) + ", " +totalPage + ", " + pageHeight;
                
                if((mainBodyHeight / pageHeight) % 1 < 0.5){
					totalPage = totalPage - 1;
				}
                var totalHeight = totalPage * pageHeight;

                document.querySelectorAll('.main-body')[0].style.height = totalHeight + 'px';
            }
        </script>
	</head>
	<body style="font-family: arial;" onload="setBodyHeight()">

        <div class="main-body">
            <div class="top-section">
                <table style="margin-top: 3rem;">
                	<tr>
                        <td class="labelBold" width="35%">AGREEMENT NUMBER</td>
                        <td width="65%" th:text="${PONumber}">Agreement Number</td>
                    </tr>
                    <tr>
                        <td class="labelBold" width="35%" th:if="${socType == 'SPOT'}">
                        	<span>AGREEMENT COMMENCEMENT DATE<span> :
                        </td>
                        <td class="labelBold" width="35%" th:if="${socType == 'CONTRACT'}">
                        	<span>SALES ORDER CONFIRMATION NUMBER & DATE<span> :
                        </td>
                        <td width="65%" th:if="${socType == 'SPOT'}">
                        	<span th:if="${socType == 'SPOT'}" th:text="${agreementCommencementDate}">Commencement Date</span>
                        </td>
                        <td width="65%" th:if="${socType == 'CONTRACT'}">
                        	<span th:if="${socType == 'CONTRACT'}" th:text="${socNumberAndDate}">Commencement Date</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="labelBold" width="35%">SELLER</td>
                        <td width="65%">
                        	<p style="margin: 0; padding-left: 0;" class="labelBold" th:utext="${sellerCompanyNameUpperCase}">Seller Company Name</p>
                            <p style="margin: 0;" th:utext="${sellerAddress}">Seller Address</p>
                            <p style="margin: 0;">Telephone: <span th:text="${sellerPhoneNumber}">Seller Telephone Number</span></p>
                            <p style="margin: 0;">Facsimile: <span th:text="${sellerFaxNumber}">Seller Facsimile Number</span></p>
                            <!--<p style="margin: 0;">Attention: <span th:text="${sellerAttention}">Seller Attention</span></p> -->
                        </td>
                    </tr>
                    <tr>
                        <td class="labelBold" width="35%">BUYER</td>
                        <td width="65%">
                        	<p style="margin: 0; padding-left: 0;" class="labelBold" th:utext="${buyerName}">Buyer Company Name</p>
                            <p style="margin: 0;" th:utext="${buyerAddress}">Buyer Address</p>
                            <p style="margin: 0;">Telephone: <span th:text="${buyerTelephoneNo}">Buyer Telephone Number</span></p>
                            <p style="margin: 0;">Facsimile: <span th:text="${buyerFacsimile}">Buyer Facsimile Number</span></p>
                            <!--<p style="margin: 0;">Attention: <span th:text="${buyerAttention}">Buyer Attention</span></p>-->
                        </td>
                    </tr>
                </table>
                <p style="margin:0; margin-bottom: 10px;">NOW THEREFORE, it is hereby agreed as follows:</p>
                
                <table>
                    <tr>
                    	<th class="labelBold" style="text-align: center;">PRODUCT</th>
                    	<th class="labelBold" style="text-align: center;">VOLUME (<span th:text="${docUomCode}"></span>)</th>
                    	<th class="labelBold" style="text-align: center;">PACKAGING</th>
                    	<th class="labelBold" style="text-align: center;">UNIT PRICE (<span th:text="${currencyCode}"></span> / <span th:text="${docUomCode}"></span>)</th>
                    	<th class="labelBold" style="text-align: center;">SUB-TOTAL AMOUNT (<span th:text="${currencyCode}"></span>)</th>
                    </tr>
                    <tr th:each="orderItem, iter: ${orderItems}" style="text-align: center;">
                        <td style="text-align: center;" th:text="${orderItem.productName}">Product</td>
                        <td style="text-align: center;"><span th:text="${#numbers.formatDecimal(orderItem.quantity, 1, 'COMMA', 3, 'POINT')}"></span></td>
                        <td style="padding: 0.5rem; text-align: center;" th:text="${#strings.capitalizeWords(#strings.toLowerCase(orderItem.packaging))}">packaging</td>
                        <td style="text-align: center;"><span th:text="${#numbers.formatDecimal(orderItem.invoicePrice, 1, 'COMMA', priceDecimalDigits, 'POINT')}"></span></td>
                        <td style="text-align: center;"><span th:text="${#numbers.formatDecimal(orderItem.itemPrice, 1, 'COMMA', priceDecimalDigits, 'POINT')}">Quantity * invocie</span></td>
                    </tr>
                    <tr>
                    	<td colspan="4" class="labelBold" style="text-align: end;">TOTAL</td>
                    	<td style="text-align: center;"><span th:text="${#numbers.formatDecimal(totalPrice, 1, 'COMMA', priceDecimalDigits, 'POINT')}"></td>
                    </tr>
                 </table>
                 <table style="border-top:0">  
                    <tr style="height: 0;">
                    	<td width="30%" class="labelBold" style="border-top:0">CARGO ORIGIN</td>
                        <td width="70%" th:text="${cargoOrigin}" style="border-top:0">Cargo Origin</td>
                    </tr>
                    <tr>
                    	<td width="30%" class="labelBold">TERMS OF DELIVERY</td>
                        <td width="70%"><span style="font-weight: bold;" th:text="${termOfDelivery}">Terms of delivery</span>, as per Incoterms 2020</td>
                    </tr>
                    <tr>
                    	<td width="30%" class="labelBold">TOTAL PRICE</td>
                        <td width="70%">
                        	<span th:text="${currencyCode}"></span> 
                        	<span th:if="${totalPriceInUSD != '0.00'}">
	                        	<span th:text="${#numbers.formatDecimal(totalPriceInUSD, 1, 'COMMA', priceDecimalDigits, 'POINT')}"></span>
	                        	(<span th:text="${mergePriceEnglishText}">...</span>)
                        	</span>
                        </td>
                    </tr>
                    <tr>
                    	<td width="30%" class="labelBold">PAYMENT</td>
                        
                        <td width="70%" th:text="${payment}" style="white-space: pre-line;">Payment</td>
                    </tr>
                    <tr>
                    	<td width="30%" class="labelBold">DELIVERY DATE RANGE</td>
                        
                        <td width="70%" th:text="${deliveryDateRange}">Delivery Date Range</td>
                    </tr>
                    <tr>
                    	<td width="30%" class="labelBold">LOAD PORT</td>
                        
                        <td width="70%" th:text="${loadPort}">Load Port</td>
                    </tr>
                    <tr>
                    	<td width="30%" class="labelBold">DISCHARGE PORT</td>
                        
                        <td width="70%" th:text="${#strings.capitalizeWords(#strings.toLowerCase(dischargePortText))}">Discharge Port</td>
                    </tr>
                    <tr>
                    	<td width="30%" class="labelBold">INSURANCE</td>
                        
                        <td width="70%" th:text="${insurance}">Insurance</td>
                    </tr>
                    <tr>
                        <td width="30%" class="labelBold">TAX AND DUTIES</td>
                        <td width="70%" style="padding-right: 0.7rem; text-align: justify;" th:utext="${taxDuties}">Tax and Duties
                        </td>
                    </tr>
                    <tr style="page-break-inside: avoid !important;">
                        <td width="30%" class="labelBold">OTHER TERMS & CONDITIONS</td>
                        <td width="70%" style="padding-right: 0.7rem; text-align: justify;" th:utext="${termsConditions}">Other terms and conditions</td>
                    </tr>
                    <tr style="page-break-inside: avoid !important;">
                        <td width="30%" class="labelBold">CUSTOMS DECLARATION FORM</td>
                        <td width="70%" style="padding-right: 0.7rem; text-align: justify;">
                        	1.	Buyer shall conduct customs declaration of the product sold by Seller under this contract (“Product”) in its own name.
	                        Upon Seller’s request, Buyer shall deliver a copy of the corresponding customs declaration form for the Product or other 
	                        evidencing documents that clearly shows that Buyer is the importer of the Product.<br><br>                                                     
							2.	Buyer acknowledges that Seller will not be able to make payment to its supplier of the Product if Seller fails to provide 
							customs declaration form that conforms with the legal, customs or foreign exchange payment requirements (as applicable), and 
							Seller may suffer or incur liabilities, costs, expenses, damages, claims, proceedings or losses (“Losses”) arising out of or 
							in connection with Buyer’s failure to fulfil its obligations under this section.  Buyer agrees to indemnify Seller against any 
							Losses suffered or incurred by Seller arising out of or in connection with Buyer’s failure to fulfil its obligations under 
							this section.
						</td>
                    </tr>
                </table>
            </div>
			<div class="bottom-section">
                <div style="margin-top: 2rem;">

                    <table style="border: 0; width: 100%; margin-top: 3rem;">
                        <tr class="noBorder">
                            <td class="labelBold" style="width: 45%">SELLER</td>
                            <td style="width: 10%"></td>
                            <td class="labelBold" style="width: 45%">BUYER</td>
                        </tr>
                        <tr class="noBorder" style="vertical-align: top">
                            <td class="labelBold" style="width: 45%" th:utext="${sellerCompanyNameUpperCase}">Seller Company Name</td>
                            <td style="width: 10%"></td>
                            <td class="labelBold" style="width: 45%" th:utext="${buyerName}">Buyer Company Name</td>
                        </tr>
                        <tr class="noBorder">
                            <td colspan="3" style="height: 5rem;">&nbsp;</td>
                        </tr>
                        <tr class="noBorder">
                            <td style="width: 10%"></td>
                        </tr>
                        <tr class="noBorder">
                            <td style="width: 45%">Name: </td>
                            <td style="width: 10%"></td>
                            <td style="width: 45%">Name: </td>
                        </tr>
                        <tr class="noBorder">
                            <td style="width: 45%">Designation: </td>
                            <td style="width: 10%"></td>
                            <td style="width: 45%">Designation: </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
	</body>
</html>
