<!DOCTYPE html> 
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
		<style>
		table {
			width: 100%;
			border: 1px solid #AFAFAF;
			border-collapse: collapse;
		}
		
		table table.noBorder {
			width: 100%;
			border: 0;
		}
		
		table table.noBorder tr {
			border: 0;
		}
		
		table table.noBorder td {
			border: 0;
		}
		
		table, th, td {
			border: 1px solid #AFAFAF;
		}
		
		td {
			padding: 0.5rem
		}
		
		.labelBold {
			text-align: left;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}
		
		.page-break {
			height: 0;
			page-break-after: always;
			margin: 0;
			border-top: none;
		}
		
		.inlineTable {
			width: 40%;
			border: 0;
		}

		tr.noBorder td {
			border: 0;
		}

		</style>		 
	</head>	
	<body style="font-family: arial; font-size: large;">  
		<table style="margin-top: 2rem;"> 	
			<tr> 		
				<td class="labelBold" width="35%">AGREEMENT NUMBER :</td>
				<td width="65%" th:text="${reference}">Agreement Number</td> 	
			</tr> 	
			<tr>
				<td class="labelBold" width="35%">AGREEMENT COMMENCEMENT DATE :</td>
				<td width="65%" th:text="${agreementCommencementDate}">Agreement Commencement Date</td> 	
			</tr> 
			<tr>
				<td class="labelBold" width="35%">AGREEMENT EXPIRY DATE :</td>
				<td width="65%" th:text="${agreementExpiryDate}">Agreement Expiry Date</td> 	
			</tr> 
			<tr> 		
				<td class="labelBold" width="35%">SELLER</td>
				<td width="65%"> 			
					<table class="noBorder"> 				
						<tr>
							<td style="padding: 0.3rem 0;" colspan="2" class="labelBold" th:utext="${sellerCompanyName}">Seller Company Name</b></td> 				
						</tr>
						<tr> 					
							<td style="padding: 0.3rem 0;" colspan="2" th:utext="${sellerAddress}">Seller Address</td>
						</tr>
						<tr colspan="2"><td></td></tr>
						<!--<tr>
							<td style="padding: 0.3rem 0;" colspan="2"><span style="padding-left: 0;">Attention: </span><span th:text="${sellerAttention}">Seller Attention</span></td>
						</tr>-->
					</table> 		
				</td> 	
			</tr> 	
			<tr>
				<td class="labelBold" width="35%">BUYER</td> 		
				<td width="65%">
					<table class="noBorder"> 				
						<tr>
							<td style="padding: 0.3rem 0;" colspan="2" class="labelBold" th:utext="${buyerName}">Buyer Name</td> 				
						</tr>
						<tr> 					
							<td style="padding: 0.3rem 0;" colspan="2" th:utext="${buyerAddress}">Buyer Address</td>
						</tr> 				
						<tr colspan="2"><td></td></tr>
						<tr> 					
							<td style="padding: 0.3rem 0;" width="50%"><span style="padding-left: 0;">Telephone: </span><span th:text="${buyerTelephoneNo}">Buyer Telephone Number</span></td>							
							<td width="50%"><span>Facsimile: </span><span th:text="${buyerFacsimile}">Buyer Facsimile Number</span></td>							
						</tr> 			
						<!--<tr> 					
							<td style="padding: 0.3rem 0;" colspan="2"><span style="padding-left: 0;">Attention: </span><span th:text="${buyerName}">Buyer Attention</span></td>
						</tr>-->
					</table> 		
				</td> 	
			</tr> 			
		</table> 
		<br/>
		
		<p>The Seller and Buyer may be referred to individually as a "Party" and collectively as "Parties".
			<br><br> NOW THEREFORE, it is hereby agreed as follows:</p>	
		
		<table style="margin-top: 1rem;"> 	
			<tr>
				<th class="labelBold" style="text-align: center;">PRODUCT</th> 		
				<th class="labelBold" style="text-align: center;">QUANTITY / VOLUME</th>
				<th class="labelBold" style="text-align: center;">PACKAGING</th>	
				<th class="labelBold" style="text-align: center;">UNIT PRICE</th>
				<th class="labelBold" style="text-align: center;">DESTINATION PORT / CITY</th> 	
			</tr>
			<tr th:each="orderItem, iter: ${orderItems}" style="text-align: center;">
				<td th:text="${orderItem.productName}">Product</td>		
				<td><span th:text="${#numbers.formatDecimal(orderItem.quantity, 0, 'COMMA', 0, 'POINT')}"></span><span style="margin-left: 0.5rem;" th:text="${orderItem.uomCode}"></span></td>
				<td style="padding: 0.5rem;" th:utext="${orderItem.packaging}">Packaging</td>
				<td><span th:text="${#numbers.formatDecimal(orderItem.invoicePrice, 0, 'COMMA', 2, 'POINT')}"></span><span style="margin-left: 0.5rem;" th:text="${currencyCode}"></span>/<span th:text="${orderItem.uomCode}"></span></td>				
				<td><span th:text="${orderItem.destinationCountry}"></span></td>				
			</tr> 
		</table> 
		<table style="margin-top: 1rem;"> 	
			<tr> 		
				<td width="30%">Document</td>
				<td width="70%"> 			
					<table class="noBorder">
						<tr th:each="price, iter : ${prices}">
							<td style="padding-left: 0;">
								The following documents shall together consitute the Sales Contract between the Parties: <br>
								Part 1 : Spot - Specific Terms and Conditions (including Appendix)<br>	
								Part 2: Spot - Terms of Sale<br>	
								Part 3: Spot - Terms of Delivery<br>	

								The Agreement shall be read and construed as a whole. In the event of a
								dispute or conflict between the above documents, the documents shall
								prevail in the order listed above.
								
							</td>
						</tr>
					</table>
				</td> 	
			</tr> 	
			<tr>
				<td width="30%">CARGO ORIGIN</td>
				<td width="70%" th:text="${cargoOrigin}">Cargo Origin</td>
			</tr> 	
			<tr>
				<td  width="30%">TERMS OF DELIVERY</td>
				<td width="70%" th:text="${termOfDelivery}">Terms of Delivery</td> 	
			</tr> 	
			<tr>
				<td width="30%">TOTAL PRICE</td>
				<td width="70%"><span th:text="${currencyCode}"> </span><span style="margin-left: 0.5rem;" th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 2, 'POINT')}"></td>				 
			</tr> 	
			<tr>
				<td width="30%">PAYMENT</td> 		
				<td width="70%" th:text="${payment}" style="white-space: pre;">
				</td>
			</tr> 	
			<tr> 		
				<td width="30%">DELIVERY DATE RANGE</td>
				<td width="70%" th:text="${deliveryDateRange}">Delivery Date Range</td> 	
			</tr>
			<tr>
				<td width="30%">LOAD PORT</td>
				<td width="70%" th:text="${loadPort}"></td> 								
			</tr>
			<tr>
				<td width="30%">INSURANCE</td>
				<td width="70%">Buyer's account</td> 								
			</tr>
			<tr>
				<td width="30%">TAX AND DUTIES</td>
				<td width="70%" th:utext="${taxDuties}">Tax and Duties
				</td> 								
			</tr>
			<tr> 		
				<td width="30%">OTHER TERMS & CONDITIONS</td>
				<td width="70%" th:utext="${termsConditions}">Other terms and conditions</td> 	
			</tr>
		</table> 
		<!-- <div class="page-break"></div> -->
		<br>
		<div style="margin-top: 2rem;"> 
			<table align="left" class="inlineTable">
				<tr class="noBorder">
					<td class="labelBold" colspan="2">SELLER</td>        
				</tr>
				<tr class="noBorder">
					<td class="labelBold" colspan="2" th:utext="${sellerCompanyName}">Seller Company Name</td>        
				</tr>
				<tr class="noBorder">
					<td colspan="2" style="height: 5rem;"></td>
				</tr>         
				<tr class="noBorder">
					<td width="30%">Name</td>
					<td width="70%"></td>         
				</tr>
				<tr class="noBorder">
					<td width="30%">Designation</td>
					<td width="70%"></td>
				</tr>
			</table>     
			<table align="right" class="inlineTable">         
				<tr class="noBorder">
					<td class="labelBold" colspan="2">BUYER</td>
				</tr>
				<tr class="noBorder">
					<td class="labelBold" colspan="2" th:utext="${buyerName}">Seller Company Name</td>        
				</tr>
				<tr class="noBorder">
					<td colspan="2" style="height: 5rem;"></td>
				</tr>      
				<tr class="noBorder">
					<td width="30%">Name</td>
					<td width="70%"></td>
				</tr>
				<tr class="noBorder">
					<td width="30%">Designation</td>             
					<td width="70%"></td>
				</tr>
			</table>
		</div> 
	</body> 
</html>