<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
	<style>
		table {
			width: 100%;
			border: 1px solid rgb(0, 0, 0);
			border-collapse: collapse;
		}

		table table.noBorder {
			width: 100%;
			border: 0;
		}

		table table.noBorder tr {
			border: 0;
		}

		table table.noBorder td {
			border: 0;
		}

		table,
		th,
		td {
			border: 1px solid rgb(0, 0, 0);
		}

		td {
			padding: 0.5rem
		}

		.labelBold {
			text-align: left;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}

		.page-break {
			height: 0;
			page-break-after: always;
			margin: 0;
			border-top: none;
		}

		.inlineTable {
			width: 40%;
			border: 0;
		}

		tr.noBorder td {
			border: 0;
		}

		.main-body {
			display: flex;
			display: -webkit-box;

			flex-direction: column;
			-webkit-box-orient: vertical;

			justify-content: space-between;
			-webkit-box-pack: justify;

			position: relative;
		}
		
		table { 
			page-break-inside:auto 
		}
		
    	tr { 
			page-break-inside:avoid; 
			page-break-after:auto 
		}
	</style>
	<script>
		function setBodyHeight() {
			var mainBody = document.querySelectorAll('.main-body')[0];
			var pageHeight = 2260;
			var mainBodyHeight = (mainBody.clientHeight) / 2;
			var totalPage = Math.ceil(mainBodyHeight / pageHeight);
			var totalHeight = totalPage * pageHeight;

			document.querySelectorAll('.main-body')[0].style.height = totalHeight + 'px';
		}
	</script>
</head>

<body style="font-family: arial;" onload="setBodyHeight()">

	<div class="main-body">
		<div class="top-section">
			<table style="margin-top: 3rem;">
				<tr>
					<td class="labelBold" width="35%">AGREEMENT NUMBER :</td>
					<td width="65%" th:text="${PONumber}">Agreement Number</td>
				</tr>
				<tr>
					<td class="labelBold" width="35%">AGREEMENT COMMENCEMENT DATE :</td>
					<td width="65%" th:text="${agreementCommencementDate}">Agreement Commencement Date</td>
				</tr>
				<tr>
					<td class="labelBold" width="35%">SELLER</td>
					<td width="65%">
						<table class="noBorder">
							<tr>
								<td style="padding: 0.3rem 0;" colspan="2" class="labelBold"
									th:utext="${sellerCompanyNameUpperCase}">Seller Company Name</b></td>
							</tr>
							<tr>
								<td style="padding: 0.3rem 0;" colspan="2" th:utext="${sellerAddress}">Seller Address
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td class="labelBold" width="35%">BUYER</td>
					<td width="65%">
						<table class="noBorder">
							<tr>
								<td style="padding: 0.3rem 0;" colspan="2" class="labelBold" th:utext="${buyerName}">
									Buyer Name</td>
							</tr>
							<tr>
								<td style="padding: 0.3rem 0;" colspan="2" th:utext="${buyerAddress}">Buyer Address</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<p>The Seller and the Buyer may be referred to individually as a "Party" and collectively as "Parties".
				<br><br> NOW THEREFORE, it is hereby agreed as follows:
			</p>

			<table style="margin-top: 1rem;">
				<tr>
					<th class="labelBold" style="text-align: center; width: 40%;">PRODUCT</th>
					<th class="labelBold" style="text-align: center;">QUANTITY / VOLUME</th>
					<th class="labelBold" style="text-align: center;">PACKAGING</th>
					<th class="labelBold" style="text-align: center;">UNIT PRICE</th>
					<th class="labelBold" style="text-align: center; width: 15%;">DESTINATION PORT / CITY</th>
				</tr>
				<tr th:each="orderItem, iter: ${orderItems}" style="text-align: center;">
					<td style="font-weight: bold; text-align: left;">
						<span th:text="${#strings.capitalizeWords(#strings.toLowerCase(orderItem.productName))}">Product</span>
						<span>
							<table style="border: none; margin-top: 0;">
								<tr th:each="product, iter: ${orderItem.productName2}">
									<td style="border: none; padding: 0; text-align: left;" th:text="${product.key}">1</td>
									<td style="border: none; padding: 0; text-align: left;"
										th:text="${#strings.replace(#strings.replace(product.value, ']', ''), '[', '')}">
										2</td>
								</tr>
							</table>
						</span>
						<span style="margin-top: 0;" th:text="${orderItem.productName3}">Product3</span>
					</td>
					<td><span th:text="${#numbers.formatDecimal(orderItem.quantity, 0, 'COMMA', 3, 'POINT')}"></span>
						<span th:text="${orderItem.uomCode}"></span>
					</td>
					<td style="padding: 0.5rem;"
						th:text="${#strings.capitalizeWords(#strings.toLowerCase(orderItem.packaging))}">Packaging Bags
						25
						Kg</td>
					<td style="text-align: center;"><span
							th:text="${#numbers.formatDecimal(orderItem.invoicePrice, 0, 'COMMA', priceDecimalDigits, 'POINT')}"></span>
						<span th:text="${currencyCode}"></span>/<span th:text="${orderItem.uomCode}"></span></td>
					<td><span
							th:text="${#strings.capitalizeWords(#strings.toLowerCase(orderItem.destinationCountry))}"></span>
					</td>
				</tr>
			</table>
			<table style="margin-top: 2rem;">
				<tr>
					<td width="30%">DOCUMENTS</td>
					<td width="70%">
						The following documents shall together consitute the Sales Contract between the
						Parties: <br>
						Part 1: Spot - Specific Terms and Conditions (including Appendix)<br>
						Part 2: Spot - Terms of Sale<br>
						Part 3: Spot - Terms of Delivery<br>
						
						The Agreement shall be read and construed as a whole. In the event of a
						dispute or conflict between the above documents, the documents shall
						prevail in the order listed above.
					</td>
				</tr>
				<tr>
					<td width="30%">CARGO ORIGIN</td>
					<td width="70%" th:text="${cargoOrigin}">Cargo Origin</td>
				</tr>
				<tr>
					<td width="30%">TERMS OF DELIVERY</td>
					<td width="70%" th:text="${termOfDelivery}">Terms of Delivery</td>
				</tr>
				<tr>
					<td width="30%">FORMULA</td>
					<td width="70%" th:text="${formula}">FIXED and FIRM</td>
				</tr>
				<tr>
					<td width="30%">TOTAL PRICE</td>
					<td width="70%"><span th:text="${currencyCode}"> </span><span style="margin-left: 0.5rem;"
							th:text="${#numbers.formatDecimal(totalPrice, 0, 'COMMA', priceDecimalDigits, 'POINT')}">
					</td>
				</tr>
				<tr>
					<td width="30%">PAYMENT</td>
					<td width="70%" th:text="${payment}" style="white-space: pre-line;"></td>
				</tr>
				<tr>
					<td width="30%">DELIVERY DATE RANGE</td>
					<td width="70%"><span th:text="${retaString}"></span></td>
				</tr>
				<tr>
					<td width="30%">LOAD PORT</td>
					<td width="70%" th:text="${loadPort}">Kerteh, Malaysia</td>
				</tr>
				<tr>
					<td width="30%">INSURANCE</td>
					<td width="70%" th:text="${insurance}">Buyer's account</td>
				</tr>
				<tr>
					<td width="30%">TAX AND DUTIES</td>
					<td width="70%" th:utext="${taxDuties}">Buyer's Account'</td>
				</tr>
			</table>
			<!-- <div class="page-break"></div> -->
			<br>
		</div>
		<div class="bottom-section">
			<div style="margin-top: 2rem;">

				<table style="border: 0; width: 100%; margin-top: 3rem;">
					<tr class="noBorder">
						<td class="labelBold" style="width: 45%">SELLER</td>
						<td style="width: 10%"></td>
						<td class="labelBold" style="width: 45%">BUYER</td>
					</tr>
					<tr class="noBorder" style="vertical-align: top">
						<td class="labelBold" style="width: 45%" th:utext="${sellerCompanyName}">Seller Company Name
						</td>
						<td style="width: 10%"></td>
						<td class="labelBold" style="width: 45%" th:utext="${buyerName}">Buyer Company Name</td>
					</tr>
					<tr class="noBorder">
						<td colspan="3" style="height: 5rem;">&nbsp;</td>
					</tr>
					<tr class="noBorder">
						<td style="width: 45%">Signature: </td>
						<td style="width: 10%"></td>
						<td style="width: 45%">Signature: </td>
					</tr>
					<tr class="noBorder">
						<td style="width: 45%">Name: </td>
						<td style="width: 10%"></td>
						<td style="width: 45%">Name: </td>
					</tr>
					<tr class="noBorder">
						<td style="width: 45%">Designation: </td>
						<td style="width: 10%"></td>
						<td style="width: 45%">Designation: </td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>

</html>