<!DOCTYPE html> 
<html> 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- <link th:href="${cssPath}" rel="stylesheet"/> -->
		<style>
		table {
			width: 100%;
			border: 1px solid #AFAFAF;
			border-collapse: collapse;
		}
		
		table table.noBorder {
			width: 100%;
			border: 0;
		}
		
		table table.noBorder tr {
			border: 0;
		}
		
		table table.noBorder td {
			border: 0;
			padding-top: 0.1rem;
    		padding-bottom: 0.1rem;
		}
		
		table, th, td {
			border: 1px solid #AFAFAF;
		}
		
		td {
			padding: 0.5rem
		}
		
		.labelBold {
			text-align: left;
			padding: 0.3rem 0.5rem;
			font-weight: bold;
		}
		
		.page-break {
			height: 0;
			page-break-after: always;
			margin: 0;
			border-top: none;
		}
		
		.inlineTable {
			width: 40%;
			border: 2px solid black;
		}
		
		.tdBorderCustomGrey {
			border: none;
			border-bottom: 2px solid #AFAFAF;
		}
		
		.tdBorderCustomBlack {
			border: none;
			border-bottom: 2px solid black;
		}
		
		body {
			
		}		
</style>		 
	</head>	
	<body style="font-family: arial; font-size: large;">  
		<table style="width: 100%; margin-right: auto; margin-left: auto; border-collapse: separate; border-spacing: 15px 0;border-width: 1.5px;">
			<tr>
				<td style="padding-top: 0.8rem;" class="tdBorderCustomGrey">Laytime Calculations</td>
			</tr>
			<tr>
				<td class="tdBorderCustomBlack"><span style="font-size: 1.5rem; font-weight: bold;"><span th:text="${vesselName}"></span></span> Calculation Date: <span th:text="${#temporals.format(demurrageAcceptanceDate, 'MM/dd/yyyy')}">2/10/2022</span></td>
			</tr>
			<tr>
				<td style="padding-top: 1rem; padding-bottom: 1rem;" class="tdBorderCustomBlack">
					<table class="noBorder">
						<tr>
							<td>Sales Order</td>
							<td colspan="2"><span th:text="${salesOrderNumber}"></span></td>
						</tr>
						<tr>
							<td>Vessel Name</td>
							<td colspan="2"><span th:text="${vesselName}"></span></td>
						</tr>
						<tr>
							<td>Voyage No.</td>
							<td colspan="2"><span th:text="${voyageNumber}"></span></td>
						</tr>
						<tr>
							<td>Loading Port</td>
							<td colspan="2"><span th:text="${loadingPort}"></span></td>
						</tr>
						<tr>
							<td>Cargo Description</td>
							<td colspan="2"><span th:text="${cargoDescription}"></span></td>
						</tr>
						<tr>
							<td>Quantity (MT)</td>
							<td colspan="2"><span th:text="${quantity}"></span></td>
						</tr>
						<tr>
							<td>Load/Discharge Rate (MT)/day</td>
							<td><span th:text="${loadRate}"></span></td>
							<td><span th:text="${dischargeRate}"></span></td>
						</tr>
						<tr>
							<td>Demurrage/Despatch Rate (USD)/PDPR</td>
							<td><span th:text="${demurrageRate}"></span></td>
							<td><span th:text="${despatchRate}"></span></td>
						</tr>
						<tr>
							<td>Laytime Allowed (Days)</td>
							<td><span th:text="${loadLaytimeAllowed}"></span></td>
							<td><span th:text="${dischargeLaytimeAllowed}"></span></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="tdBorderCustomBlack">
					<table class="noBorder">
						<tr th:each="statement, iter: ${statementOnFact}">
							<td style="width: 58%;"><span th:text="${statement.stageName}">A</span></td>
							<td style="width: 21%;"><span th:if="${statement.displayDate == true}" th:text="${#temporals.format(statement.stageDate, 'MM/dd/yyyy')}">B</span></td>
							<td><span th:text="${#temporals.format(statement.stageDate, 'HHmm')}">C</span></td>
						</tr>
						<!--<tr>
							<td style="width: 66%;"><span></span></td>
							<td><span>1/10/2022</span></td>
							<td><span>0800</span></td>
						</tr>-->
					</table>
				</td>
			</tr>
			<tr>
				<td class="tdBorderCustomBlack">
					<table class="noBorder">
						<tr>
							<td style="width: 10%">Time Start</td>
							<td style="width: 10%">Time End</td>
							<td style="width: 38%">Activity</td>
							<td colspan="3" style="width: 21%; padding-left: 2rem;">Time Used</td>
							<td colspan="3" style="padding-left: 2rem; padding-right: 0;">Total Time Counted</td>
						</tr>
						<tr>
							<td colspan="3"></td>
							<td style="text-align: right;">D</td>
							<td style="text-align: right;">H</td>
							<td style="text-align: right;">M</td>
							<td style="text-align: right;">D</td>
							<td style="text-align: right;">H</td>
							<td style="text-align: right;">M</td>
						</tr>
						<tr th:each="record, iter: ${cargoLoadingRecords}">
							<td><span th:text="${#temporals.format(record.startTime, 'HHmm')}">1430</span></td>
							<td><span th:text="${#temporals.format(record.endTime, 'HHmm')}">0000</span></td>
							<td><span th:text="${record.stoppage} != null ? ${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(record.stoppage, '_', ' ')))} : ${#strings.capitalizeWords(#strings.toLowerCase(#strings.replace(record.activity, '_', ' ')))}">Loading</span></td>
							<td style="text-align: right;"><span th:text="${#numbers.formatInteger(record.dayDiff,1)}">0</span></td>
							<td style="text-align: right;"><span th:text="${#numbers.formatInteger(record.hourDiff,1)}">9</span></td>
							<td style="text-align: right;"><span th:text="${#numbers.formatInteger(record.minuteDiff,1)}">30</span></td>
							<td style="text-align: right;"><span th:text="${#numbers.formatInteger(record.accumTimecoundDayDiff,1)}">0</span></td>
							<td style="text-align: right;"><span th:text="${#numbers.formatInteger(record.accumTimeCountHourDiff,1)}">9</span></td>
							<td style="text-align: right;"><span th:text="${#numbers.formatInteger(record.accumTimeCountMinutesDiff,1)}">30</span></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="border: none">
					<table class="noBorder">
						<tr>
							<td style="width: 40%;">Total Time Allowed</td>
							<td style="width: 22%;">
								<span th:text="${#numbers.formatInteger(totalTimeAllowedDay,1)}"></span>d <span th:text="${#numbers.formatInteger(totalTimeAllowedHour,2)}">00</span>:<span th:text="${#numbers.formatInteger(totalTimeAllowedMinute,2)}">00</span>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Total Time Used</td>
							<td>
								<span th:text="${#numbers.formatInteger(totalTimeUsedDay,1)}"></span>d <span th:text="${#numbers.formatInteger(totalTimeUsedHour,2)}">00</span>:<span th:text="${#numbers.formatInteger(totalTimeUsedMinute,2)}">00</span>
							</td>
							<td></td>
						</tr>
						<tr>
							<td>Total Time Loss</td>
							<td>
								<span th:text="${#numbers.formatInteger(totalTimeLossDay,1)}"></span>d <span th:text="${#numbers.formatInteger(totalTimeLossHour,2)}">00</span>:<span th:text="${#numbers.formatInteger(totalTimeLossMinute,2)}">00</span>
							</td>
							<td></td>
						</tr>
						<tr style="font-weight: bold;">
							<td>Demurrage</td>
							<td>USD <span th:text="${demurrage} % 1 == 0 ? ${#numbers.formatInteger(demurrage,1)} : ${#numbers.formatDecimal(demurrage, 1, 2)}">3750</span></td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body> 
</html>